<table>
  <tr>
    <th>Meat</th>
    <th>Air</th>
    <th></th>
  </tr>

<% @readings_by_minute.each do |time, readings| %>
  <tr>
    <td><%= readings.find {|r| r.meat? }.temperature rescue "" %></td>
    <td><%= readings.find {|r| r.air? }.temperature rescue "" %></td>
    <td><%= time_ago_in_words(readings.first.created_at) %></td>
  </tr>
<% end %>
</table>
