<h1><%= @readings.first.temperature %>&#176;</h1>

<table>
  <tr>
    <th>Temperature</th>
    <th></th>
  </tr>

<% @readings.each do |reading| %>
  <tr>
    <td><%= reading.temperature %></td>
    <td><%= time_ago_in_words(reading.created_at) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reading', new_reading_path %>
